@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
	--color-dorado: #EDB44D;
	--color-general: #adb0b8;
	--color-titulos: #dbdce4;
	--fondo-negro: #09090d;
	--fondo-azul: #101117;
	--fondo-features: #121520;
	--fondo-footer: #040406;
	--color-footer: #373946;
}
body{
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color: var(--color-general);
}

header{
	background-color:  #dbdce4;
	padding: 20px 0;
}

#hero{
	background-color: var(--fondo-negro);
	padding:13% 0;
	text-align: left;
	color:var(--color-titulos);
	}
#hero h1{
	font-weight: 700;
	font-size: 100px;
	color: var(--color-titulos);
	margin-bottom: 30px;
	

}

#hero h3{
	font-weight: 200;
	font-size: 30px;
	color: var(--color-dorado);
	line-height: 1;
}

#hero p{
	font-size: 16px;
	font-weight:100; 
	color: var(--color-general);
		margin-bottom: 70px;
		
}

.btn-primary{
	background-color:  #373946;
		border:0;
	color: var(--color-general);
	border-radius: 40px;
	font-weight: 400;
	padding: 7px 25px;
	font-size: 14px;
}
.btn-primary:hover{
	background-color: var(--color-dorado);
}

#features{
	background-color: var(--fondo-azul);
	padding:5% 0;
	color:var(--color-titulos);
}

.subtitle {
	font-size: 60px;
	font-weight:600; 
	color: var(--color-titulos);
		margin-bottom: 40px;
}

.text-features{
	padding: 0 20% 7%;
}
.icon-features{
	font-size: 80px;
	color:var(--color-dorado);
	text-align: center;
	margin-bottom: 20px;
}



h4{
	font-weight: 700;
	font-size: 20px;
	color: var(--color-titulos);

}
 


.icon-featurespt2{
	font-size: 50px;
	color:var(--color-general);
	margin-left: 100px;
	
}

#features2{
	background-color: var(--fondo-features);
	padding:5% 0;
	color:var(--color-titulos);
}

.icons-f2{
	font-size: 60px;
	color:var(--color-dorado);
	padding: 0 1%;
	
	
	
}

#features2 p{
	margin-bottom: 40px;
}

#subscribe{
	background-color: var(--fondo-features);
	padding:5% 30%;
	color:var(--color-titulos);

}


.btn-download{
	background-color:  #373946;

	color: var(--color-general);
	border-radius: 40px;
	font-weight: 400;
	padding: 20px 25px;
	font-size: 14px;
	margin-top: 30px;
	
	
	
}


#subscribe form{
	display: block;
	margin-top: 70px;
	

}

.btn-sub{ 
	
	background-color: var(--color-dorado);
  color: var(--color-general);
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 16px;
  font-weight: 200px;
  cursor: pointer;
  border-radius: 40px;
	
	
}

.icon-sub{
	font-size: 30px;
	color: #fff;
	
}

#subscribe h3{
	font-size:40px;
		font-weight:600;
	color: var(--color-titulos);
		padding:10% 0 0;
	text-align: center;
}
#redes{
	background-color: var(--color-footer);
	padding:3% 0 ;
}
.icon-sns{
	font-size: 80px;
	color:var(--color-general);
	text-align: center;
}

footer{
	background-color: var(--fondo-footer);
	color: var(--color-general);
	margin-top: 30px;
	padding: 5%;
	text-align: center;
}